// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.projects-list{
	a.btn{
		color: #fe753f;
		font-size: 12pt;
		margin: 0;
		padding-top: 0;
		padding-bottom: 0;
	}
}